[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
srcomapi = "*"
discord = "*"
anilistpython = "==0.1.3"
markovify = "*"

[dev-packages]

[requires]
python_version = "3.9"
